/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

.bodyindex {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: aquamarine;
   color: #333;
}

.headerindex {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;
}

.mainidex {
   padding: 20px;
}

.articleidex {
   background-color: #fff;
   border-radius: 5px;
   
   margin-bottom: 20px;
   padding: 15px;
}


footer {
       background-color: #111010;
       color: #fff;
       text-align: center;
       padding: 10px;
       position: fixed;
       bottom: 0;
       width: 100%;
   }
   a {
       color: #000000;
       text-decoration: none;
       padding: 0 10px;
   }
#mijn{
color:#fff;
}
.h2 {
   color: #333;
}
/*nieuw stuk */







.body1 {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #000000;
   color: #fff;
}

.header1 {
   background-color: #000000;
   color: #fff;
   text-align: center;
   padding: 10px;
   
}

.main1 {
   padding: 20px;
}

.article1 {
   background-color: #6e6e6e;
 border-radius: 5px;

 margin-bottom: 20px;
 padding: 15px;
}





.footer1 {
   background-color: #111010;
   color: #fff;
   text-align: center;
   padding: 10px;
   position: fixed;
   bottom: 0;
   width: 100%;
}